/* ==UserStyle==
@name DuckDuckGo DeepDark
@namespace github.com/RaitaroH/DuckDuckGo-DeepDark
@homepageURL https://github.com/RaitaroH/DuckDuckGo-DeepDark
@version 2.0.4
@updateURL https://github.com/RaitaroH/DuckDuckGo-DeepDark/raw/master/DuckDuckGoDeepDark.user.css
@description Light will blind you in your search for answers, dark will make them shine. May the dark be kinder on thine eyes. (DuckDuckGo dark theme)
@author RaitaroH
@license GNU-V3.0

@preprocessor stylus

@var select stylus-deepdark-style "Preset themes" [
	"Deep-Dark",
	"Inspired-Dark",
	"Breeze-Dark",
	"HavocOS",
	"Arc-Dark",
	"Vertex-Dark",
	"Dracula",
	"Mint-Y-Dark",
	"Adapta-Nokto",
	"Adapta-Breath-Nokto",
	"Gruvbox-Dark",
	"Gruvbox-Light",
	"NierAutomata-Dark",
	"NierAutomata-Light",
	"Solarized-Dark",
	"Solarized-Light",
	"9anime",
	"Firefox-Dark",
	"Firefox-57",
	"Firefox-Dark-91",
	"Firefox-Alpenglow-Dark",
	"Discord",
	"YouTube-Dark",
	"Black-and-White",
	"Yellow",
	"Yellow-2",
	"Ubuntu-Grey",
	"Ubuntu-Purple",
	"Orange",
	"Jisho",
	"Custom"
]
@var text scrollbar_width "Scrollbar width" 8px

@var color mainColor "Custom main color" "#367bf0"
@var color mainBackground "Custom main background" "#22242d"
@var color secondBackground "Custom second background" "#242730"
@var color hoverBackground "Custom hover background" "#4e5467"
@var color mainText "Custom main text" "#eee"
@var color dimmerText "Custom second text" "#ccc"
@var color colorShadow "Custom shadow color" "rgba(56, 60, 74, .3)"

==/UserStyle== */

@-moz-document regexp("https?:\/\/(?!help\.)(.*duckduckgo.com|3g2upl4pq6kufc4m.onion)\/(?!donations).*$") {

/*Theme made by RaitaroH @https://github.com/RaitaroH/DuckDuckGo-DeepDark*/

/*GNU General Public License v3.0*/

	/*Main color variables*/
	:root
	{
		if stylus-deepdark-style == "Deep-Dark" {
			--main-color: #00adee;
			--main-background: #111;
			--second-background: #181818;
			--hover-background: #232323;
			--main-text: #eff0f1;
			--dimmer-text: #ccc;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .3);
		}
		else if stylus-deepdark-style == "Inspired-Dark" {
			--main-color: #5e8acc;
			--main-background: #232629;
			--second-background: #181818;
			--hover-background: #515254;
			--main-text: #eee;
			--dimmer-text: #ccc;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Breeze-Dark" {
			--main-color: #3daee9;
			--main-background: #232629;
			--second-background: #2a2e32;
			--hover-background: #31363b;
			--main-text: #eff0f1;
			--dimmer-text: #bdc3c7;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Vertex-Dark" {
			--main-color: #4080fb;
			--main-background: #2b2b2c;
			--second-background: #353638;
			--hover-background: #515254;
			--main-text: #f3f3f5;
			--dimmer-text: #aeafb0;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Arc-Dark" {
			--main-color: #5294e2;
			--main-background: #343944;
			--second-background: #383c4a;
			--hover-background: #414a59;
			--main-text: #c1c8d1;
			--dimmer-text: #b3bac5;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Dracula" {
			--main-color: #bd93f9;                      /*Purple*/
			--main-background: hsl(231, 15%, 18%);      /*Background*/
			--second-background: hsl(231, 15%, 22%);    /*Manually generated from Background*/
			--hover-background: #44475a;                /*Selection*/
			--main-text:#f8f8f2;                        /*Foreground*/
			--dimmer-text: #bcc2cd;                     /*From .app-title https://draculatheme.com/*/
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .15);
		}
		else if stylus-deepdark-style == "Firefox-Dark" {
			--main-color: #5675b9;
			--main-background: #272b35;
			--second-background: #181d20;
			--hover-background: #353a44;
			--main-text: #e3eef9;
			--dimmer-text: #bec0cc;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Firefox-57" {
			--main-color: #4080fb;
			--main-background: #0c0c0d;
			--second-background: #252526;
			--hover-background: #323234;
			--main-text: #f9f9fa;
			--dimmer-text: #d0d0d0;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .2);
		}
		else if stylus-deepdark-style == "Firefox-Dark-91" {
			--main-color: #00ddff;
			--main-background: #1c1b22;
			--second-background: #23222b;
			--hover-background: #2b2a33;
			--main-text: #fbfbfe;
			--dimmer-text: #b8b7bb;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "Firefox-Alpenglow-Dark" {
			--main-color: #C488FC;
			--main-background: #21133d;
			--second-background: #2a1e52;
			--hover-background: #2d245b;
			--main-text: #ffffff;
			--dimmer-text: #E3DBFA;
			--shadow: 0 1px .5px rgba(35, 22, 65, .5);
		}
		else if stylus-deepdark-style ==  "Discord" {
			--main-color: #7289da;
			--main-background: #1e2124;
			--second-background: #2f3136;
			--hover-background: #484b51;
			--main-text: #fff;
			--dimmer-text: #ada8aa;
			--shadow: 0 1px 0.5px rgba(47, 49, 54, .23);
		}
		else if stylus-deepdark-style == "YouTube-Dark" {
			--main-color: #e52117;
			--main-background: #111;
			--second-background: #232323;
			--hover-background: #343434;
			--main-text: #e1e1e1;
			--dimmer-text: #7f7f7f;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .2);
		}
		else if stylus-deepdark-style == "Mint-Y-Dark" {
			--main-color: #9ab87c;
			--main-background: #2f2f2f;
			--second-background: #383838;
			--hover-background: #404040;
			--main-text: #fff;
			--dimmer-text: #d5dada;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		else if stylus-deepdark-style == "9anime" {
			--main-color: #723f8c;
			--main-background: #0b0a0d;
			--second-background: #17151c;
			--hover-background: #1E1c25;
			--main-text: #f9f6fb;
			--dimmer-text: #cac0cf;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .13);
		}
		else if stylus-deepdark-style == "Black-and-White" {
			--main-color: #fff;
			--main-background: #000;
			--second-background: #1e1e1e;
			--hover-background: #313131;
			--main-text: #fff;
			--dimmer-text: #aaa;
			--shadow: 0 1px 0.5px rgba(54 ,54 ,54, .2);
		}
		else if stylus-deepdark-style == "Yellow" {
			--main-color: #ffc700;
			--main-background: #141414;
			--second-background: #202222;
			--hover-background: #353838;
			--main-text: #eff0f1;
			--dimmer-text: #9f9999;
			--shadow: 0 1px 0.5px rgba(34, 34, 34, .2);
		}
		else if stylus-deepdark-style == "Yellow-2" {
			--main-color: #ffc700;
			--main-background: #0a0800;
			--second-background: #0c0a04;
			--hover-background: #0f0d05;
			--main-text: #fffdf5;
			--dimmer-text: #fff8e1;
			--shadow: 0 1px 0.5px rgba(34, 34, 34, .2);
		}
		else if stylus-deepdark-style == "Ubuntu-Grey" {
			--main-color: #ef7847;
			--main-background: #312d2a;
			--second-background: #3d3c38;
			--hover-background: #59564d;
			--main-text: #f2f1ef;
			--dimmer-text: #e6e5e3;
			--shadow: 0 1px 0.5px rgba(89, 86, 77, .12);
		}
		else if stylus-deepdark-style == "Ubuntu-Purple" {
			--main-color: #ef7847;
			--main-background: #2c071a;
			--second-background: #430b28;
			--hover-background: #520D30;
			--main-text: #f2f1ef;
			--dimmer-text: #e6e5e3;
			--shadow: 0 1px 0.5px rgba(82, 13, 48, .2);
		}
		else if stylus-deepdark-style == "Orange" {
			--main-color: #ff6905;
			--main-background: #0a0400;
			--second-background: #0e0702;
			--hover-background: #110903;
			--main-text: #fff9f5;
			--dimmer-text: #ffede1;
			--shadow: 0 1px 0.5px rgba(255, 105, 5, .1);
		}
		else if stylus-deepdark-style == "Jisho" {
			--main-color: #ef7d6c;
			--main-background: #332222;
			--second-background: #2a1b1b;
			--hover-background: #863b2f;
			--main-text: #EFB26C;
			--dimmer-text: #986E3F;
			--shadow: 0 1px 0.5px rgba(37, 19, 5, .19);
		}
		else if stylus-deepdark-style == "Adapta-Nokto" {
			--main-color: #00bcd4;
			--main-background: #222d32;
			--second-background: #263238;
			--hover-background: #2a353b;
			--main-text: #fff;
			--dimmer-text: #9b9b9b;
			--shadow: 0 1px 0.5px  rgba(61, 77, 86, .2);
		}
		else if stylus-deepdark-style == "Adapta-Breath-Nokto" {
			--main-color: #1abc9c;
			--main-background: #222d32;
			--second-background: #263238;
			--hover-background: #2a353b;
			--main-text: #fff;
			--dimmer-text: #9b9b9b;
			--shadow: 0 1px 0.5px  rgba(42, 53, 59, .32);
		}
		else if stylus-deepdark-style == "Solarized-Dark" {
			--main-color: #268bd2;
			--main-background: #073642;
			--second-background: #03303c;
			--hover-background: #002b36;
			--main-text: #fdf6E3;
			--dimmer-text: #eee8d5;
			--shadow: 0 1px 0.5px  rgba(0, 43, 54, .3);
		}
		else if stylus-deepdark-style == "Solarized-Light" {
			--main-color: #268bd2;
			--main-background: #fdf6e3;
			--second-background: #f5efdc;
			--hover-background: #eee8d5;
			--main-text: #073642;
			--dimmer-text: #586e75;
			--shadow: 0 1px 0.5px  rgba(222, 216, 196, .2);
		}
		else if stylus-deepdark-style == "Gruvbox-Dark" {
			--main-color: #fe8019;
			--main-background: #1d2021;
			--second-background: #282828;
			--hover-background: #3c3836;
			--main-text: #fbf1c7;
			--dimmer-text: #ebdbb2;
			--shadow: 0 1px 0.5px  rgba(60, 56, 54, .22);
		}
		else if stylus-deepdark-style == "Gruvbox-Light" {
			--main-color: #af3a03;
			--main-background: #f9f5d7;
			--second-background: #fbf1c7;
			--hover-background: #ebdbb2;
			--main-text: #282828;
			--dimmer-text: #3c3836;
			--shadow: 0 1px 0.5px  rgba(235, 219, 178, .33);
		}
		else if stylus-deepdark-style == "NierAutomata-Dark" {
			--main-color: #fe8019;
			--main-background: #33302a;
			--second-background: #48453c;
			--hover-background: #7c6f64;
			--main-text: #dad4bb;
			--dimmer-text: #bab5a1;
			--shadow: 0 1px 0.5px  rgba(124, 111, 100, .15);
		}
		else if stylus-deepdark-style == "NierAutomata-Light" {
			--main-color: #fe8019;
			--main-background: #d1cdb7;
			--second-background: #dcd8c0;
			--hover-background: #bab5a1;
			--main-text: #48453c;
			--dimmer-text: #33302a;
			--shadow: 0 1px 0.5px rgba(186, 181, 161, 2);
		}
		else if stylus-deepdark-style == "HavocOS" {
			--main-color: #0794d4;
			--main-background: #141618;
			--second-background: #1c1e20;
			--hover-background: #212528;
			--main-text: #fff;
			--dimmer-text: #b9baba;
			--shadow: 0 1px 0.5px rgba(185, 186, 186, .04);
		}
		else if stylus-deepdark-style == "Custom" {
			--main-color: mainColor;
			--main-background: mainBackground;
			--second-background: secondBackground;
			--hover-background: hoverBackground;
			--main-text: mainText;
			--dimmer-text: dimmerText;
			--shadow: 0 1px 0.5px colorShadow;
		}
		--logo: url("assets/logo_header.alt.v108.svg");
		--biglogo: url("assets/logo_homepage.alt.v108.svg");
	}
	*
	{
		scrollbar-color: var(--main-color) var(--main-background) !important;
		scrollbar-width: thin !important;
	}
	/*Scrollbar fix for chrome*/
	*:not([hide-scrollbar]) ::-webkit-scrollbar-thumb
	{
		background: var(--main-color) !important;
	}
	*:not([hide-scrollbar]) ::-webkit-scrollbar
	{
		width: scrollbar_width !important;
	}
	/*Scrollbar fix for firefox*/
	::-webkit-scrollbar-track {
		background: var(--main-background) !important;
	}
	::-webkit-scrollbar-thumb {
		background: var(--main-color) !important;
	}

	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}

	/*Outline for links*/
	a
	{
		outline-color: var(--main-color) !important;
	}
	a:hover
	{
		text-decoration: none !important;
	}

	.svg .header__logo,.svg.dark-header .header__logo
	{
		background-image: var(--logo) !important;
	}

	.svg .logo_homepage
	{
		background-image: var(--biglogo) !important;
	}
	/*Added floating search bar*/
	.set-header--fixed .header-wrap,.header-wrap
	{
		position: fixed !important;
		width: 100% !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		z-index: 100 !important;
		padding-bottom: 0 !important;
	}

	/*Homepage*/
	/*below searchbar*/
	.is-atb-fullbleed .content-info__title
	{
		margin-top: 10px;
		color: var(--dimmer-text) !important;
	}
	/*info cards*/
	.is-atb-fullbleed .content-info__item
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
	}
	.is-atb-fullbleed .content-info__item__title
	{
		color: var(--main-text) !important;
	}
	.is-atb-fullbleed .content-info__item__subtitle
	{
		color: var(--dimmer-text) !important;
	}
	.is-atb-fullbleed .content-info__item__link
	{
		color: var(--main-color) !important;
	}
	/*FAQ*/
	.faq__section
	{
		border-color: var(--hover-background) !important;
	}
	.faq__title, .faq__question
	{
		color: var(--main-text) !important;
	}
	.faq__answer p
	{
		color: var(--dimmer-text) !important;
	}


	/* Error: search too long */
	#error_homepage
	{
		color: var(--dimmer-text) !important;
		background: var(--second-background) !important;
	}

	.zci-wrap
	{
		margin-top: 100px !important;
	}

	.header-wrap, .header-wrap--home
	{
		border-bottom: 1px solid var(--second-background) !important;
	}

	.search-filters-wrap::after,.search-filters-wrap::before
	{
		background-image: none !important;
	}
	/*
	.search-filter--region .search-filter__icon, .search-filter--region .dark-header .search-filter__icon,
	.dark-header .nav-menu__item__icon--region, .dark-bg .search-filter--region .search-filter__icon, .search-filter--region .dark-bg .search-filter__icon,
	.dark-bg .nav-menu__item__icon--region {
		background-image: url(/assets/icon_region_dark.svg) !important;
	}
	*/
	.set-main .frm__section-label,a:hover,.result__url__domain,.module__title__link,.corner_btn.reset:hover,
	.zci--timer .corner_btn.add_minute,.result__url:hover,.no-touch .header-wrap .zcm__link.is-active:hover,
	.no-touch .site-wrapper .zcm__link:hover, .zcm__link:hover, .zcm__link:visited,.logo_homepage__tt,.a:link:hover,.highlight .result__a:hover,a.result__menu:hover
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	.result.highlight
	{
		border-color: transparent !important;
	}

	.result__url__domain:hover,.module__title,.result__a:hover
	{
		color: var(--main-color) !important;
	}

	/*results domain*/
	/*new style*/
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #links .result__url__full,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #links .result__url__full:active,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #links .result__url__full:visited:focus,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #ads .result__url__full,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #ads .result__url__full:active,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls #ads .result__url__full:visited:focus,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls .results--sidebar .result__url__full,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls .results--sidebar .result__url__full:active,
	.is-link-breadcrumb-exp.full-urls.breadcrumb-urls .results--sidebar .result__url__full:visited:focus
	{
		color: var(--dimmer-text) !important;
	}
	/*old style*/
	.is-link-style-exp .result__url,
	.is-link-style-exp .result__url:visited,
	.is-link-style-exp .result__url:active,
	.is-link-style-exp .result__url:hover,
	.is-link-style-exp .result__url:focus,
	.is-link-style-exp .result__url:visited:focus,
	.is-link-style-exp .result__url__full,
	.is-link-style-exp .result__url__full:visited,
	.is-link-style-exp .result__url__full:active,
	.is-link-style-exp .result__url__full:hover,
	.is-link-style-exp .result__url__full:focus,
	.is-link-style-exp .result__url__full:visited:focus,
	.is-link-style-exp .result--ad .result__url,
	.is-link-style-exp .result--ad .result__url:hover,
	.is-link-style-exp .result--ad .result__url:active,
	.is-link-style-exp .result--ad .result__url:visited
	{
		color: var(--dimmer-text) !important;
	}

	.zcm__link.is-active,.zci--timer .play_pause .first_half_fill, .zci--timer .play_pause .rotated_fill
	{
		border-color: var(--main-color) !important;
	}

	/*Stopwatch*/
	.zci--stopwatch .stopwatch__btn.start
	{
		border-color: var(--main-color) !important;
		background-color: var(--main-color) !important;
		color: var(--main-color) !important;
	}
	.zci--stopwatch .goodie-pane
	{
		background-color: var(--hover-background) !important;
	}


	.modal__header__title
	{
		border-color: var(--dimmer-text) !important;
	}

	.sitelinks_td:hover,.result:hover,.result.highlight,.logo_homepage__tt,.about-info-box__toggle__chevron:hover
	{
		background-color: var(--main-background) !important;
	}

	.module__text,.prettyprint .pln,.prettyprint .pun
	{
		color: var(--dimmer-text) !important;
	}

	.zci--timer #add_timer_container,.zci--timer .corner_btn.add_minute
	{
		background: transparent !important;
	}

	.fe_icon, .fe_icon--alt
	{
		filter: invert(100%) !important;
	}

	#twitter_status,#ads,.feedback-btn,.nav-menu--slideout .badge-link,.logo_homepage__tt::before,.badge-link
	{
		display: none!important;
	}

	body,.body--home,.site-wrapper,.modal__box,.sitelinks_td
	{
		background-color: var(--main-background) !important;
	}

	.region-switch__label,.tag-home__link,.tag-home__link:hover,.tag-home__link:visited,.tag-home__link:active,.tag-home__nav__close:hover,
	.results,.msg,.feedback-btn__icon:hover,.feedback-btn__send:hover,.feedback-btn__icon:focus,.feedback-btn__send:focus
	{
		color: var(--dimmer-text) !important;
	}

	.tag-home__nav__wrap:hover
	{
		background-color: var(--second-background) !important;
	}

	.result__check
	{
		color: var(--main-background) !important;
	}

	.result__check:visited,.feedback-btn,.feedback-btn:hover
	{
		color: var(--second-background) !important;
	}

	.result__a,.result__a:active,.highlight .result__a,.result__a:visited,.tag-home,.page-settings,
	.frm__label,.no-results__related-search a,.no-results__related-search a:visited,.no-results__related-search a:active,
	.no-results__related-search a:hover,.modal__box,.modal__header__title,.modal__list__link,.modal__list__link:hover,
	.modal__list__link:visited,.modal__list__link:focus,.modal__list__link.is-active,.modal__list__link.is-highlighted,
	.feedback-btn__icon,.feedback-btn__send,.feedback-modal .frm__label,
	.results--sidebar .related-searches__title-short
	{
		color: var(--main-text) !important;
	}
	.result__timestamp, .tile__time, .result__date,
	.module--carousel__footer
	{
		color: var(--dimmer-text) !important;
	}
	.is-mobile .results_links_deep, .is-mobile .results_links
	{
		background-color: transparent !important;
		border-color: none !important;
		box-shadow: none !important;
	}
	/*new article results*/
	/*.is-mobile .yQDlj3B5DI5YO8c8Ulio, .yQDlj3B5DI5YO8c8Ulio.jHKRD_8UMD51jfnKQ1LL*/
	.nrn-react-div > article
	{
		background-color: transparent !important;
	}
	/*url*/
	.nrn-react-div > article > div:nth-child(1) > div > a > span
	{
		color: var(--main-color) !important;
	}
	/*title*/
	.nrn-react-div > article > div:nth-child(2) > h2 > a
	{
		color: var(--main-text) !important;
	}
	.nrn-react-div > article:hover > div:nth-child(2) > h2 > a
	{
		color: var(--main-color) !important;
	}
	/*main quote*/
	.nrn-react-div > article > div:nth-child(3) > div > span
	{
		color: var(--dimmer-text) !important;
	}
	/*the 6 small briefs*/
	.nrn-react-div > article div:nth-child(4) > div > ul > li > a
	{
		color: var(--main-text) !important;
	}
	.nrn-react-div > article div:nth-child(4) > div > ul > li:hover > a
	{
		text-decoration: underline;
	}
	.nrn-react-div > article div:nth-child(4) > div > ul > li > p > span
	{
		color: var(--dimmer-text) !important;
	}
	.nrn-react-div > article div:nth-child(4) > div > ul::after
	{
		opacity: 0;
	}

	.settings-page-wrapper .set-side a,.settings-page-wrapper .set-side a:hover,.settings-page-wrapper .set-side a:active
	{
		color: var(--dimmer-text) !important;
		text-decoration: underline!important;
	}

	.btn--top,.result--sep--hr:before,.result--load-btn,.feedback--button.btn--wire
	{
		color: var(--dimmer-text) !important;
		border-color: var(--second-background) !important;
		background-color: var(--second-background) !important;
	}

	.btn--top:hover,.feedback--button.btn--wire:hover
	{
		color: var(--dimmer-text) !important;
		background-color: var(--second-background) !important;
	}

	.results--powered
	{
		color: var(--dimmer-text) !important;
	}

	.set-bookmarklet,.set-reset,.set-head,.set-thumbnail__img,.set-main-footer,.frm__color__swatch
	{
		border-color: var(--second-background) !important;
	}

	.cloudsave,.modal__list__link:hover,.modal__list__link.is-active,.modal__list__link.is-highlighted,.modal--region-filter .modal__list__link.is-highlighted
	{
		background-color: var(--second-background) !important;
	}

	.set-bookmarklet__input,.set-bookmarklet__data,.btn,.btn:visited,.btn:hover,.frm__input
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
		color: var(--dimmer-text) !important;
	}

	.add-to-browser__directions .btn.btn--primary
	{
		background-color: var(--second-background) !important;
		border-color: transparent!important;
		color: var(--dimmer-text) !important;
	}

	.frm__hr,.btn:active
	{
		border-color: var(--second-background) !important;
	}

	/*checked*/
	.btn.is-active,.btn.btn--primary,.btn--primary:hover, .is-checked .btn.frm__switch__label
	{
		color: var(--main-background) !important;
		border-color: var(--second-background) !important;
		background-color: var(--main-color) !important;
	}
	.modal--dropdown--settings .settings-dropdown--section .frm__field .frm__switch .frm__switch__label.btn
	{
		background: var(--hover-background) !important;
	}
	.modal--dropdown--settings .settings-dropdown--section .frm__field .frm__switch .frm__switch__label.btn::after
	{
		background: var(--main-text) !important;
	}
	.is-link-style-exp .btn--primary:not(.is-disabled),
	.is-link-style-exp .is-checked .frm__switch__label,
	.is-link-style-exp .modal--dropdown--settings .settings-dropdown--section .frm__field.is-checked .frm__switch .frm__switch__label.btn,
	.is-link-style-exp .set-themes .set-theme.is-checked .set-theme__check,
	.is-link-style-exp .modal__box.modal__box--custom_date.modal__box--headed .modal__box__content .pika-single .pika-table tbody td.is-startrange .pika-day,
	.is-link-style-exp .modal__box.modal__box--custom_date.modal__box--headed .modal__box__content .pika-single .pika-table tbody td.is-endrange .pika-day,
	.is-link-style-exp .modal__box.modal__box--custom_date.modal__box--headed .modal__box__content .pika-single .pika-table tbody td.is-selected .pika-day,
	.is-link-style-exp .switch.is-on,
	.is-link-style-exp .cta-icon--selected,
	.is-link-style-exp .is-selected .directions-search__mode__type__icon,
	.is-link-style-exp .atb-banner__btn--standalone,
	.is-link-style-exp .atb-banner__btn--standalone:hover,
	.is-link-style-exp .atb-banner__btn--standalone:focus,
	.is-link-style-exp .atb-banner__btn--standalone:active
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}

	.switch,.region-flag__bg
	{
		background-color: var(--second-background) !important;
	}

	.region-switch__label-status-on
	{
		color: var(--dimmer-text) !important;
	}

	.modal--popover.is-showing,.modal--popover--dk.is-showing
	{
		background: var(--main-background) !important;
	}

	.modal__box
	{
		border: 1px solid var(--second-background) !important;
	}

	.modal__header
	{
		background-color: var(--second-background) !important;
		border-bottom-color: var(--second-background) !important;
	}

	/*settings dropdown*/
	.modal--popout--bottom.has-header .modal__box:before,.modal--popout--bottom-right.has-header .modal__box:before,
	.modal--popout--bottom-left.has-header .modal__box:before,.modal--popout--bottom.has-header .modal__box:after,
	.modal--popout--bottom-right.has-header .modal__box:after,.modal--popout--bottom-left.has-header .modal__box:after,.modal--popout .modal__box:before
	{
		color: var(--second-background) !important;
	}

	.modal--popout .modal__box:after
	{
		color: var(--main-background) !important;
	}
	.modal--dropdown--settings .settings-dropdown--section
	{
		border-color: var(--hover-background) !important;
	}
	.modal--dropdown--settings .settings-dropdown--section .frm__field .frm__select::before
	{
		background: transparent !important;
	}

	.nav-menu,.nav-menu--slideout
	{
		background-color: var(--second-background) !important;
	}

	.nav-menu--slideout
	{
		border-left-color: var(--second-background) !important;
		-webkit-box-shadow: none!important;
		-moz-box-shadow: none!important;
		box-shadow: none!important;
	}

	.nav-menu__icon,.nav-menu__close,.nav-menu__item,.nav-menu__item--secondary,.nav-menu__item > a,
	.nav-menu__item--secondary > a,.nav-menu__item > a:visited,.nav-menu__item--secondary > a:visited
	{
		color: var(--dimmer-text) !important;
	}

	.nav-menu__item > a:hover
	{
		color: var(--dimmer-text) !important;
	}

	.nav-menu__heading,.nav-menu__heading--primary
	{
		color: var(--dimmer-text) !important;
	}

	.nav-menu__theme.theme-is-selected
	{
		border-color: var(--dimmer-text) !important;
	}

	.result__snippet,.result__snippet b,.result__snippet a,.result__snippet a:hover,.result__snippet a:active,.result__snippet a:visited
	{
		color: var(--dimmer-text) !important;
	}

	.result__url,.result__url:visited,.result__url:active,a.result__menu,a.result__menu:active,
	a.result__menu:visited,.result--ad .result__url,.result--ad .result__url:hover,.result--ad .result__url:active,
	.result--ad .result__url:visited,.sponsored__sitelink, .sponsored__sitelink b, .sponsored__sitelink:visited,.sponsored__sitelink:hover
	{
		color: var(--dimmer-text) !important;
	}

	.msg--result.highlight,.msg--box
	{
		background: var(--second-background) !important;
	}

	.result.result--ad.highlight
	{
		background: none!important;
	}

	.msg--bang__bang-name
	{
		color: var(--dimmer-text) !important;
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
	}

	.msg--bang__bangs-link,.msg--bang__bangs-link:hover,.msg--bang__bangs-link:visited,.msg--bang__bangs-link:active,
	.msg--spelling :link,.msg--spelling :link:visited,.msg--spelling :link:hover,.msg--spelling :link:active
	{
		color: var(--dimmer-text) !important;
	}

	.header-wrap, .has-active-zci .header-wrap, .has-active-zci .header-wrap .zcm__link:before,
	.has-active-zci .header-wrap .zcm__link:after, .has-zcm .header-wrap:before, .has-zcm .header-wrap:after, .has-zcm .header-wrap .header:after
	{
		background-color: var(--main-background) !important;
	}

	.no-touch .header-wrap .zcm__link.is-active
	{
		background-color: transparent!important;
	}

	.header-wrap.header-wrap--home
	{
		background: none!important;
	}

	.has-active-zci .header-wrap
	{
		border-bottom-color: var(--hover-background) !important;
	}

	.header-wrap, .header-wrap--home
	{
		border-top-color: var(--second-background) !important;
	}

	.site-wrapper-border
	{
		background-color: var(--second-background) !important;
	}

	.no-touch .site-wrapper .zcm__link, .zcm__link, .zcm__link:visited
	{
		color: var(--dimmer-text) !important;
	}

	.zcm__link:hover,.zcm__link:active,.zcm__link.is-active
	{
		background-color: var(--main-background) !important;
		color: var(--dimmer-text) !important;
	}

	.no-touch .header-wrap .zcm__link.is-active
	{
		color: var(--dimmer-text) !important;
	}

	.zcm__sep--h:before
	{
		border-left-color: var(--hover-background) !important;
	}

	.lt-ie9 .header-wrap
	{
		border-bottom-color: var(--hover-background) !important;
	}

	.set-header--menu.has-zcm.is-mobile .header--aside
	{
		background: -moz-linear-gradient(left, var(--dimmer-text) 0%, var(--hover-background) 40%, var(--hover-background) 100%) !important;
		background: -webkit-linear-gradient(left, var(--dimmer-text) 0%, var(--hover-background) 40%, var(--hover-background) 100%) !important;
		background: -o-linear-gradient(left, var(--dimmer-text) 0%,var(--hover-background) 40%,var(--hover-background) 100%) !important;
		background: -ms-linear-gradient(left, var(--dimmer-text) 0%, var(--hover-background) 40%, var(--hover-background) 100%) !important;
		background: linear-gradient(to right, var(--dimmer-text) 0%, var(--hover-background) 40%, var(--hover-background) 100%) !important;
	}

	.is-mobile .zcm-wrap--header:before,.is-mobile .zcm-wrap--header:after
	{
		background: -moz-linear-gradient(left, var(--dimmer-text) 0%, var(--hover-background) 50%, var(--dimmer-text) 100%) !important;
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--dimmer-text)), color-stop(50%,var(--hover-background)), color-stop(100%,var(--dimmer-text))) !important;
		background: -webkit-linear-gradient(left, var(--dimmer-text) 0%,var(--hover-background) 50%,var(--dimmer-text) 100%) !important;
		background: -o-linear-gradient(left, var(--dimmer-text) 0%,var(--hover-background) 50%,var(--dimmer-text) 100%) !important;
		background: -ms-linear-gradient(left, var(--dimmer-text) 0%,var(--hover-background) 50%,var(--dimmer-text) 100%) !important;
		background: linear-gradient(to right, var(--dimmer-text) 0%,var(--hover-background) 50%,var(--dimmer-text) 100%) !important;
	}

	.btn--icon,.header__button--menu,.no-touch .btn--icon,.no-touch .header__button,.no-touch .header__button--menu
	{
		color: var(--dimmer-text) !important;
	}

	.header--aside__msg
	{
		color: var(--dimmer-text) !important;
	}
	.header--aside__msg:hover
	{
		color: var(--main-color) !important;
	}

	.no-touch .btn--icon:hover,.no-touch .header__button:hover,.no-touch .header__button--menu:hover,
	.no-touch .header__button:focus, .no-touch .header__button--menu:focus
	{
		color: var(--second-background) !important;
		background-color: var(--dimmer-text) !important;
	}

	.search--home,.search--header
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
	}

	.search__clear,.search__button,.search--home.has-text .search__clear
	{
		color: var(--dimmer-text) !important;
	}

	.search__button--active,.search:hover .search__button,.search__input:focus ~ .search__button,
	.search--header.has-text.search--hover .search__button,.search--header.has-text.search--focus .search__button,
	.search--home.has-text .search__button,.search__button:focus,.search:hover .search__button:focus,.search--home.has-text .search__button:focus,
	.search__button, .search__button--hero
	{
		background-color: var(--second-background) !important;
	}
	.search__button:hover,.search--header.has-text.search--focus .search__button:hover,.search--header.has-text.search--hover .search__button:hover,.search--home.has-text .search__button:hover, .search__button:hover, .search__button--hero:hover
	{
		background-color: var(--hover-background) !important;
	}

	.search__input--adv
	{
		color: var(--dimmer-text) !important;
	}

	.search__autocomplete,.acp-wrap__column.acp-wrap__column--left
	{
		border-color: var(--hover-background) !important;
	}

	.acp-wrap,.acp-footer
	{
		background-color: var(--main-background) !important;
		border-color: var(--hover-background) !important;
	}

	.acp, .acp--bang
	{
		color: var(--dimmer-text) !important;
	}

	.acp strong,.acp--bang .acp--bang__phrase,.acp--highlight.acp--bang .acp--bang__phrase,.acp--highlight.acp--bang .acp--bang__snippet
	{
		color: var(--dimmer-text) !important;
	}

	.acp--highlight
	{
		background-color: var(--hover-background) !important;
	}

	.zci, .zci:before,.tileview .metabar--fixed,.tileview--grid .metabar--fixed,.tileview--grid .metabar--fixed.is-stuck,.mapview.is-expanded .zci
	{
		background-color: var(--second-background) !important;
		border-bottom-color: var(--main-background) !important;
	}

	.zci-wrap
	{
		background-color: var(--second-background) !important;
	}

	.set-header--fixed .tileview--grid .metabar--fixed,.tileview--grid .metabar--fixed.is-stuck
	{
		background-color: var(--second-background) !important;
		border-top-color: var(--second-background) !important;
	}

	.zci.is-active
	{
		border-bottom-color: var(--second-background) !important;
	}

	.zci__body,.zci__detail,.zci__caption,.zci__header,.zci__body h1, .zci__detail h1,.zci__body h2, .zci__detail h2,
	.zci__body h3, .zci__detail h3,.zci__body h4, .zci__detail h4,.zci__body h5, .zci__detail h5,.zci__body h6,
	.zci__detail h6,.metabar,.c-detail__title,.c-detail__title__sub,.c-detail__desc,.c-detail__filemeta,.c-detail__more,
	.c-detail__user,.c-detail__count,.c-detail__date,.c-info,.c-info__title,.c-icon,.c-icon__title,.c-icon__content,
	.c-score,.metabar__dropdown__selected,.metabar__dropdown__selected:hover,.metabar__dropdown__selected:focus,
	.detail__close.js-detail-close
	{
		color: var(--dimmer-text) !important;
	}

	.detail--l .detail__media, .detail--products .detail__media, .detail--qa .detail__media, .detail--about .detail__media,
	.detail--l .detail__media:after, .detail--products .detail__media:after, .detail--qa .detail__media:after, .detail--about .detail__media:after
	{
		background: none!important;
	}

	a,a.no-visited,.zci__body a,.zci__detail a,.zcm__link--sub,.zcm__link--sub:visited,.zci__body .chomp--link,
	.metabar .zci__more-at,.zci__body .zci__more-at,.zci__body .c-detail__rating :link,.zci__more-at,.tile--loc__more,.c-info__link,.c-icon__link,.chomp--link__mr,.chomp--link__ls
	{
		color: var(--dimmer-text) !important;
	}

	.detail__body a:hover,.zci__body a:active,.zci__body a:active,.zcm__link--sub.is-here,.zcm__item.is-here .zcm__link--sub,
	.zci__body .chomp--link:hover,.zci__more-at:hover,.c-info__link:hover,.c-icon__link:hover,.zcm__link--sub.is-highlighted,
	.chomp--link:hover .chomp--link__mr,.chomp--link:hover .chomp--link__ls
	{
		color: var(--dimmer-text) !important;
	}
	.zci__body a:hover, .zcm__link--sub:hover, .detail__close.js-detail-close:hover
	{
		color: var(--main-color) !important;
	}
	.zci pre,.zci code
	{
		color: var(--dimmer-text) !important;
		background-color: var(--second-background) !important;
	}

	.zci pre,.zci code,.c-list__items,.record__cell
	{
		border-color: var(--main-background) !important;
	}

	.metabar__mode
	{
		background-color: var(--second-background) !important;
	}

	.metabar__mode.is-disabled,.metabar__mode.is-disabled:hover,.metabar__mode.is-disabled:active
	{
		color: var(--second-background) !important;
		background-color: transparent!important;
	}

	.detail
	{
		background-color: var(--second-background) !important;
		border-color: var(--main-background) !important;
	}

	.detail__close
	{
		color: var(--second-background) !important;
	}

	.detail__close:hover,.detail__close:active
	{
		color: var(--hover-background) !important;
	}

	.detail__media--pr
	{
		border-right-color: var(--main-background) !important;
	}

	.tile--img:after
	{
		border-bottom-color: var(--second-background) !important;
	}

	.sep,.sep--small,.sep--before:before,.sep--after:after
	{
		border-color: var(--second-background) !important;
	}

	.mapview.is-expanded .metabar,.tileview--grid .metabar--fixed:before
	{
		background-color: var(--second-background) !important;
	}

	.tile-nav.can-scroll,.tile-nav.can-scroll:after,.tile-nav.can-scroll:hover
	{
		background-color: var(--hover-background) !important;
	}
	.tile-nav.can-scroll:hover
	{
		color: var(--main-color) !important;
	}

	.chomp--link__icn,.count__i:after
	{
		color: var(--dimmer-text) !important;
	}

	.tile-nav--sm
	{
		color: var(--dimmer-text) !important;
		background-color: var(--second-background) !important;
	}

	.tile-nav--sm:hover,.tile-nav--sm:active
	{
		background-color: var(--hover-background) !important;
	}

	.c-detail__links__btn,.zci .btn--primary,.zci .btn.btn--primary,.c-detail__links__btn:hover,.zci .btn--primary:hover,.zci__body a.btn--primary:hover
	{
		color: var(--dimmer-text) !important;
		background-color: var(--second-background) !important;
		border-color: var(--main-background) !important;
	}

	.star,.count__i,.tileview__message,.tileview__message:before,.tile--loc .tile__media__no-img
	{
		color: var(--second-background) !important;
	}

	.tile, .tile--s, .tile--info .tile--map
	{
		border-color: var(--main-background) !important;
	}

	.highlight.tile, .highlight.tile--s, .highlight.tile--info, .highlight.tile--map,.is-selected.tile,
	.is-selected.tile--s, .is-selected.tile--info, .is-selected.tile--map,.highlight.tile--f .tile--f__main,
	.highlight.tile--f .tile--f__alt, .is-selected.tile--f .tile--f__alt
	{
		border-color: var(--dimmer-text) !important;
		outline-color: var(--dimmer-text) !important;
	}

	.highlight.tile--no-highlight, .highlight.tile--no-highlight:active, .tile--no-highlight.is-selected
	{
		border-color: var(--main-background) !important;
		outline: none!important;
	}

	.tile--m, .tile .tile__body
	{
		background-color: var(--main-background) !important;
		color: var(--dimmer-text) !important;
	}

	.tile--m:hover
	{
		background-color: var(--main-background) !important;
		color: var(--dimmer-text) !important;
	}

	.tile--m:active,.tile--m.is-loading,.tile--m.is-loading:hover
	{
		background-color: var(--main-background) !important;
		color: var(--main-background) !important;
	}

	.has-tiles--grid .tile--m--images,.has-tiles--grid .tile--m--images:hover,.has-tiles--grid .tile--m--images.is-loading,
	.is-mobile .has-tiles--grid .tile--m,.is-mobile .has-tiles--grid .tile--m:hover
	{
		background-color: var(--main-background) !important;
		border-color: var(--second-background) !important;
	}

	.bg-clr--dk,.bg-clr--dk2,.bg-clr--slate,.bg-clr--slate-light
	{
		background-color: var(--dimmer-text) !important;
	}

	.bg-clr--lt,.bg-clr--lt2,.bg-clr--lt3,.bg-clr--grey-dark,.bg-clr--grey-light,.bg-clr--grey
	{
		background-color: var(--dimmer-text) !important;
	}

	.text--primary,.tx-clr--dk,.tx-clr--dk2,.tx-clr--slate,.tx-clr--slate-light
	{
		color: var(--dimmer-text) !important;
	}

	.zci__subheader,.zci__header__sub,.c-info__sub,.c-info__title__sub,.c-icon__sub,.c-score__head,
	.c-score__foot,.text--secondary,.tx-clr--grey-dark,.tx-clr--grey-light,.tx-clr--grey,.tx-clr--lt,.tx-clr--lt2,.tx-clr--lt3
	{
		color: var(--dimmer-text) !important;
	}

	.tile, .tile__title, .tile h4, .tile--m--mob, .at-topic .tile__title, .at-topic .tile.active-topic .tile__title,
	.at-topic .tile.highlight .tile__title, .is-mobile .c-info__link, .is-mobile .c-info__link:hover, .tile--loc, .tile .tile__price b
	{
		color: var(--dimmer-text) !important;
	}

	.tile, .tile--s, .bg-tile, .tile--m--mob, .tile__media--pr, .at-topic .tile.active-topic, .at-topic .tile.highlight,
	.tile__foot--news, .tile--f__main, .tile--f__alt, .tile__num:before, .is-mobile .c-info__link, .is-mobile .c-info__link:hover, .tile__media .tile__media__img
	{
		background-color: var(--main-background) !important;
	}

	.tile__expand, .tile__expand:hover,.bg-clr--platinum-darker,.bg-clr--platinum-dark,.bg-clr--platinum-light,
	.bg-clr--platinum,.bg-clr--silver-dark,.bg-clr--silver-light,.bg-clr--silver
	{
		background: var(--second-background) !important;
	}

	.at-topic .tile,.tile--loc .tile__media__no-img
	{
		background: var(--second-background) !important;
	}

	.tile__sub, .tile__sub--2, .tile__title__sub, .tile__foot, .tile__footer, .tile__link, .tile--audio .tile__footer,
	.tile__count, .tile--b--i .tile__source, .tile__neighborhood, .tile__more-at, .tile__title a:visited,.tx-clr--platinum-darker,
	.tx-clr--platinum-dark, .tx-clr--platinum-light, .tx-clr--platinum,.tx-clr--silver-dark, .tx-clr--silver-light, .tx-clr--silver
	{
		color: var(--dimmer-text) !important;
	}

	.tile--b--i .tile__description, .tile__content, .tile__content--qa, .tile__content--news, .tile__tx, .tile__expand,
	.tile__expand:hover, .tile__num, .tile__phone, .info__label, .info__value, .tile__foot, .tile__foot--news, .attribution--link__icon
	{
		color: var(--dimmer-text) !important;
	}

	.tile--info .info, .tile__expand, .tile__expand:hover, .attribution__hr, .c-score__line, .c-score__foot,
	.has-score .c-score__line__name, .is-mobile .no-score .c-score__line--home, .c-score__line--vs1:before, .c-score__line--vs1:after
	{
		border-color: var(--second-background) !important;
	}

	.tile--f__main, .tile--f__alt, .csstransforms3d .tile--f__main, .csstransforms3d .tile--f__alt, .is-mobile .c-info__link
	{
		border-color: var(--main-background) !important;
	}

	.tile .tile__price
	{
		color: var(--second-background) !important;
	}

	/*Some stuff in searches and such*/
	.about-info-box__info-label
	{
		color: var(--main-text) !important;
	}
	.about-info-box__info-value
	{
		color: var(--dimmer-text) !important;
	}
	.nav-menu__heading span
	{
		color: var(--main-text) !important;
	}
	.nav-menu__list li:hover > a
	{
		color: var(--main-color) !important;
	}
	.result__body:hover .result__a
	{
		color: var(--main-color) !important;
	}
	.metabar__dropdowns-wrap::after, .metabar__dropdowns-wrap::before
	{
		background-image: none !important;
	}
	.is-expanded .metabar__grid-btn, .is-expanded .metabar__grid-btn:hover
	{
		border: none !important;
	}
	.modal--dropdown .modal__list__link:hover
	{
		color: var(--main-color) !important;
	}
	.modal--dropdown.modal--dropdown--date .modal__footer
	{
		border-color: var(--hover-background) !important;
	}
	.tile.tile--c--w.tile--vid.has-detail.opt--t-xxs:hover, .tile.tile--c.js-tile--Top:hover, .has-tiles .tile:hover
	{
		border: none !important;
		box-shadow: none !important;
	}
	.tile.tile--c--w.tile--vid.has-detail.opt--t-xxs:hover .tile__title a, .tile.tile--c.js-tile--Top:hover .tile__title a, .has-tiles .tile:hover .tile__title a
	{
		color: var(--main-color) !important;
	}
	/*Video results*/
	.metabar__primary-text--linked
	{
		color: var(--dimmer-text) !important;
	}

	/*Convertions stuff*/
	.zci--currency .frm__select, .zci--currency .frm__select::after, .zci--currency .frm__input, .zci--conversions .frm__select select,
	.zci--conversions .frm__select, .zci--conversions .frm__input.frm__input
	{
		background-color: var(--main-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--currency .shadow, .zci--conversions .shadow
	{
		box-shadow: var(--shadow) !important;
	}
	.zci--currency .frm__select select, .frm__select
	{
		color: var(--main-text) !important;
		background-color: var(--main-background) !important;
	}
	.zci--conversions .frm__select::after
	{
		background: transparent !important;
	}
	.zci--currency .frm__select:hover::after, .zci--conversions .frm__select:hover::after
	{
		background-color: var(--hover-background) !important;
	}

	/*About page*/
	.blk__title, .abt__title, .timeline__title, .ddh__title, .app__title, .abt__key__title, h4, .news-tile__title, .news-tile__source, .module__header.module__header--link
	{
		color: var(--main-text) !important;
	}
	.abt__key__sub, .abt__key p, .module--news__body__content.js-news-content
	{
		color: var(--dimmer-text) !important;
	}
	.abt__key__link::before, .news-tile__link::before
	{
		background: var(--main-color) !important;
	}
	.map__title
	{
		background-color: var(--second-background) !important;
	}

	/*Bangs*/
	.bang__list-header__title, .bang__heading, .bang--about__title, .bang--about__snippet, .bang--about__text > a
	{
		color: var(--main-text) !important;
	}
	.bang__list-header__snippet, .no-visited, .bang--about__content, .bang--about__text, .bang__list-header
	{
		color: var(--dimmer-text) !important;
	}
	.no-visited:hover, .bang--about__text > a:hover
	{
		color: var(--main-color) !important;
	}
	.bang__result__bang-name, .blk--alt
	{
		background-color: var(--second-background) !important;
	}
	.bang__resultset, .bang--about, .blk--foot
	{
		border-color: var(--hover-background) !important;
	}
	.blk--foot
	{
		color: var(--main-text) !important;
		background-color: var(--hover-background) !important;
	}
	.blk--hero + .blk--arr::before
	{
		border-top-color: #e37151 !important;
	}

	/*Settings*/
	.set-main .frm__label, .frm__select, .frm__select, .frm__select select
	{
		color: var(--main-text) !important;
	}
	.set-main .frm__desc
	{
		color: var(--dimmer-text) !important;
	}
	.frm__select select, .frm__select
	{
		border-color: var(--hover-background) !important;
		background-color: var(--second-background) !important;
	}

	/*Privacy page*/
	.blk__text
	{
		color: var(--dimmer-text) !important;
	}

	/*App page*/
	.app__key__title
	{
		color: var(--main-text) !important;
	}
	.app__key p
	{
		color: var(--dimmer-text) !important;
	}
	.blk--arr::before, .blk--arr--white::before
	{
		border-top-color: var(--main-background) !important;
	}

	/*Code response*/
	.module__text pre, .module__text code
	{
		background: var(--second-background) !important;
	}
	.prettyprint .com, .module__title__sub, pre, tt, code
	{
		color: var(--dimmer-text) !important;
	}
	.prettyprint .lit
	{
		color: var(--main-color) !important;
	}

	/*The calculator*/
	.zci--calculator .tile__calc .tile__display, .zci--calculator .tile__calc .tile__history, .zci--calculator .tile__calc .tile__ctrl--ops,
	.zci--calculator .tile__calc .tile__tab__sci .tile__ctrl__btn, .zci--calculator .tile__calc .tile__ctrl__toggle
	{
		background-color: var(--main-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--calculator .tile__calc .tile__past-calc, .zci--calculator .tile__calc .tile__ctrl__btn
	{
		background-color: var(--second-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--calculator .tile__calc .tile__ctrl--important
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	.zci--calculator .tile__calc .tile__display, .zci--calculator .tile__calc .tile__history, .zci--calculator .tile__calc .tile__ctrl--ops,
	.zci--calculator .tile__calc .tile__tab__sci .tile__ctrl__btn, .zci--calculator .tile__calc .tile__ctrl__toggle,
	.zci--calculator .tile__calc .tile__ctrl__btn, .zci--calculator .tile__calc .tile__past-calc, .zci--calculator .tile__calc .tile__display__main,
	.zci--calculator .tile__calc .tile__past-result
	{
		color: var(--main-text) !important;
	}
	.zci--calculator .tile__calc .tile__ctrl__btn:hover, .zci--calculator .tile__calc .tile__ctrl__toggle:hover
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--calculator .tile__calc .tile__display__aside, .zci--calculator .tile__calc .tile__past-formula
	{
		color: var(--dimmer-text) !important;
	}
	.zci--calculator .tile__ctrl__toggle-slider
	{
		background-color: var(--dimmer-text) !important;
	}
	.zci--calculator .tile__calc__col
	{
		border-color: var(--hover-background) !important;
	}
	.zci--calculator .tile__calc .tile__display:hover
	{
		box-shadow: inset -1px -1px 0px var(--main-color), inset 1px 1px 0px var(--main-color) !important;
	}
	.zci--calculator .tile__calc .tile__display
	{
		box-shadow: inset -1px -1px 0px var(--hover-background), inset 1px 1px 0px var(--hover-background) !important;
	}

	/*Weather forecast*/
	.forecast-wrapper .module--forecast .module__weather-warning
	{
		color: var(--main-color) !important;
	}
	.forecast-wrapper .module--forecast .module__warnings
	{
		border-color: var(--hover-background) !important;
	}
	/*cards*/
	.forecast-wrapper .module--forecast .module__items-item
	{
		background: var(--second-background) !important;
		border-color: var(--hover-background) !important;
	}
	.forecast-wrapper .module--forecast .module__items-item:hover
	{
		background: var(--hover-background) !important;
	}
	/*labels*/
	.forecast-wrapper .module--forecast .module__detail__precip-label
	{
		color: var(--main-color) !important;
	}
	.forecast-wrapper .module--forecast .module__detail__bottom
	{
		color: var(--main-text) !important;
	}
	.forecast-wrapper .module--forecast .module__detail__hour-label
	{
		color: var(--dimmer-text) !important;
	}
	/*temperature unit*/
	.forecast-wrapper .module--forecast .module__temperature-unit--on
	{
		border-color: var(--main-color) !important;
		color: var(--main-text) !important;
	}

	/*2048 game*/
	.zci--game2048 .game2048__area
	{
		background-color: var(--main-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--game2048 .cell
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci--game2048 .game2048__new_game
	{
		background-color: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	.zci--game2048 .game2048__points
	{
		color: var(--main-text) !important;
	}
	.zci--game2048 .game2048__help
	{
		color: var(--dimmer-text) !important;
	}
	.zci--game2048 .game2048__area:focus
	{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
	}

	/*Color picker*/
	#color_picker_container input
	{
		border-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}
	#color_picker_container #palette_select
	{
		color: var(--main-text) !important;
	}

	/*Google Translate*/
	.dropdown--translation-select
	{
		border-color: var(--hover-background) !important;
	}
	.js-dropdown-filter
	{
		background-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}
	/*the translation textarea*/
	.module--translations .module--translations-original textarea, .module--translations .module--translations-translatedtext
	{
		background-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}
	/*copy to clipboard*/
	.module--translations-tooltip
	{
		background-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}
	.module--translations-tooltip:before
	{
		border-bottom-color: var(--hover-background) !important;
	}

	/*stock market*/
	.ia-module--stocks .stocks-module__exchange,
	.ia-module--stocks .stocks-module__latestUpdate,
	.stocks-module__disclaimer
	{
		color: var(--main-text) !important;
	}
	.ia-module--stocks .stocks-module__chart-area-row .stocks-module__vertical-labels p,
	.ia-module--stocks .stocks-module__horizontal-labels p
	{
		color: var(--dimmer-text) !important;
	}
	.ia-module--stocks .stocks-module__range-content .stocks-module__timePeriod.selected
	{
		background-color: rgba(0,0,0,.3) !important;
		color: var(--main-text) !important;
	}
	.ia-module--stocks .stocks-module__chart-area-row .stocks-module__chart .horizontal-line, .ia-module--stocks .stocks-module__chart-area-row .stocks-module__chart .vertical-line
	{
		stroke: var(--hover-background) !important;
	}
	.ia-module--stocks .stocks-module__stats-wrapper .stocks-module__stats .stocks-module__stat-col .stocks-module__stat
	{
		border-color: var(--hover-background) !important;
	}
	.ia-module--stocks .stocks-module__stats-wrapper .stocks-module__stats .stocks-module__stat-col .stocks-module__stat label
	{
		color: var(--main-text) !important;
	}

	/*News*/
	.module--news__title, .module--news__body__title,
	.place-list-item__title
	{
		color: var(--main-text) !important;
	}
	.module:not(.module--carousel):not(.module--placeholder):not(.module--images), .modal--popout .modal__box, .modal__box, .sidebar-modules .module, .results--main .result:not(.result--ad).highlight, .module .module--carousel__item, .user-loc-cta, .address-detail, .modal--dropdown.modal--popout .modal__box, .tile--info, .vertical--map__sidebar__results__inner, .place-detail, .badge-link, .atb-banner__bottom, .is-mobile .result--news, .most-visited__info-tt
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
		color: var(--main-text) !important;
	}
	.module--news__title:hover, .module--news__body__title:hover, .module--news__item:hover .module--news__body__title,
	.place-list-item__title:hover,
	.module__link--blue, .module__link--blue:hover, .module__link--blue:active, .module__link--blue:focus,
	.module__toggle:hover, .tile__expand:hover
	{
		color: var(--main-color) !important;
	}
	.module__toggle, .tile__expand
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
		color: var(--dimmer-text) !important;
	}
	.module__toggle--more::after
	{
		background: linear-gradient(rgba(255,255,255,0), var(--hover-background)) !important;
	}
	.feedback-prompt, .module--news__footer,
	.place-list-item__info__item
	{
		color: var(--dimmer-text) !important;
	}
	.module--news__item
	{
		border-color: var(--hover-background) !important;
	}
	.module--carousel__left, .module--carousel__right
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}
	.module--carousel__left:hover, .module--carousel__right:hover
	{
		color: var(--main-color) !important;
	}
	/*More News*/
	.is-vertical-tabs-exp .module.module--carousel .module__footer,
	.is-vertical-tabs-exp .is-mobile .module--carousel.module--images .module__footer,
	.is-mobile .is-vertical-tabs-exp .module--carousel.module--images .module__footer,
	.is-vertical-tabs-exp .module.module--images .module__footer,
	.is-vertical-tabs-exp .is-mobile .module--images .module__footer,
	.is-mobile .is-vertical-tabs-exp .module--images .module__footer
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
		color: var(--dimmer-text) !important;
	}
	/*more results*/
	.is-related-search-exp .related-searches__item
	{
		border-color: var(--hover-background) !important;
		background-color: transparent !important;
	}

	/*Map*/
	.module__section
	{
		border-color: var(--hover-background) !important;
	}
	.module__section p,
	.vertical--map--no-results .vertical--map__sidebar__results__inner
	{
		color: var(--dimmer-text) !important;
	}
	.module__section.place-list-item:hover
	{
		background-color: var(--hover-background) !important;
	}
	.vertical--map__sidebar__wrapper, .vertical--map__sidebar__header
	{
		background-color: var(--hover-background) !important;
	}
	.vertical--map--sidebar-left .vertical--map__sidebar__header__link__icon
	{
		filter: invert(1);
	}
	/*Directions*/
	.place-detail__cta-text
	{
		color: var(--dimmer-text) !important;
	}
	/*map card*/
	.address-detail__name
	{
		color: var(--main-text) !important;
	}
	.address-detail__name:hover, .address-detail__name:active, .address-detail__name:focus, .address-detail__name:visited
	{
		color: var(--main-color) !important;
	}
	.address-detail__address
	{
		color: var(--dimmer-text) !important;
	}
	/*map icons legend and other things*/
	.is-link-style-exp .badge--ad__tooltip-link,
	.is-link-style-exp .badge--ad__tooltip-link:visited,
	.is-link-style-exp .no-results__link,
	.is-link-style-exp .modal__box.modal__box--custom_date.modal__box--headed .modal__box__content .pika-single .pika-table tbody .is-startrange .pika-day::after,
	.is-link-style-exp .modal__box.modal__box--custom_date.modal__box--headed .modal__box__content .pika-single .pika-table tbody .is-endrange .pika-day::after,
	.is-link-style-exp .module__link--blue,
	.is-link-style-exp .module__link--blue:hover,
	.is-link-style-exp .module__link--blue:active,
	.is-link-style-exp .module__link--blue:focus,
	.is-link-style-exp .module__detail__precip-label span,
	.is-link-style-exp .modal__header .modal__header__clear,
	.is-link-style-exp .modal--dropdown.modal--dropdown--date .modal__footer .modal__list__link,
	.is-link-style-exp .modal--dropdown.modal--dropdown--license .modal__footer .modal__list__link,
	.is-link-style-exp .modal--dropdown--settings .settings-dropdown--section .settings-dropdown--header .settings-dropdown--header--link,
	.is-link-style-exp .modal--dropdown--settings .settings-dropdown--button,
	.is-link-style-exp .user-loc-link,
	.is-link-style-exp .user-loc-link:visited,
	.is-link-style-exp .vertical--map__search-web .module__link,
	.is-link-style-exp .vertical--map__search-this-area,
	.is-link-style-exp .vertical--map__search-examples__button,
	.is-link-style-exp:not(.is-mobile) .is-selected .directions-route-overview__print,
	.is-link-style-exp .sidebar-filter__show-more,
	.is-vertical-tabs-exp #duckbar .zcm__link.is-active:not(.dropdown__button),
	.is-vertical-tabs-exp.is-mobile .module--images .module__toggle
	{
		color: var(--main-color) !important;
	}

	/*Is this helpful*/
	.modal__box.modal__box--feedback.modal__box--headed .modal__box__header
	{
		background-color: var(--main-background) !important;
		border-color: var(--hover-background) !important;
	}
	.feedback-modal__message
	{
		color: var(--main-text) !important;
	}

	/*feedback*/
	.frm__text, .frm__input
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}

	/*Calendar*/
	.zci--calendar_today .calendar .t_right, .zci--calendar_today .calendar .t_left
	{
		background-color: var(--hover-background) !important;
	}
	.zci--calendar_today .calendar__today
	{
		background-color: var(--hover-background) !important;
		color: var(--main-color) !important;
	}

	/*time.is*/
	.O9Ipab51rBntYb0pwOQn /*card*/
	{
		background-color: var(--second-background) !important;
		border-color: var(--hover-background) !important;
	}
	.W4hYIVnprYiT66M1QuNe h3 /*title*/
	{
		color: var(--main-color) !important;
	}
	.i_ahtgeTU2OYiMZz7Dnm .Og3KYY41jRqNR95FGbz_, .i_ahtgeTU2OYiMZz7Dnm .SLSZwWb6YFmKJ3tGJh30
	{
		color: var(--dimmer-text) !important;
	}

	/*some more links for you*/
	.footer
	{
		background: var(--second-background) !important;
		border-color: var(--hover-background) !important;
	}
	.footer__card, .bg-tile, .bg-clr--white
	{
		background: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
	}
	.footer__card__title, .footer__title
	{
		color: var(--main-text) !important;
	}
	.footer__card .footer__text, .footer__text
	{
		color: var(--dimmer-text) !important;
	}
	.footer__card__title:hover
	{
		color: var(--main-color) !important;
	}

	/*Page number*/
	.result__pagenum
	{
		color: var(--main-text) !important;
	}

	/*Privacy simplified*/
	.header__label, .header__link, .header__clickable
	{
		color: var(--main-text) !important;
	}
	.header__clickable:hover, .header__clickable:focus
	{
		color: var(--main-color) !important;
	}
	.showcase .showcase__dropdown-top .showcase__dropdown__list:hover
	{
		background-color: var(--hover-background) !important;
	}
	.showcase .showcase__dropdown-bottom
	{
		background-color: var(--hover-background) !important;
		border-color: var(--hover-background) !important;
	}
}
@-moz-document url-prefix("https://duckduckgo.com/html") {
	/*Issues in html mode*/
	.search__input, .search__input--adv
	{
		color: var(--dimmer-text) !important;
	}
	.header.header--html
	{
		border-color: var(--hover-background) !important;
	}
	.btn--alt:hover
	{
		color: var(--main-color) !important;
	}
	.logo_homepage
	{
		background-image: var(--logo) !important;
	}
	.header__logo-wrap
	{
		background-image: var(--biglogo) !important;
	}
	.search, .search--adv
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
	}
	.zci-wrapper
	{
		background-color: var(--second-background) !important;
		border-color: var(--hover-background) !important;
	}
	.zci
	{
		color: var(--dimmer-text) !important;
	}
}
@-moz-document url-prefix("https://duckduckgo.com/lite/") {
	/*logo*/
	.header
	{
		color: var(--main-color) !important;
	}

	/*Search bar*/
	.query
	{
		background-color: var(--second-background) !important;
		border-color: var(--second-background) !important;
		color: var(--main-text) !important;
	}
	.query:hover, .query:focus, .query:active
	{
		border-color: var(--main-color) !important;
	}
	.submit
	{
		background-color: var(--second-background) !important;
		border: 1px solid var(--hover-background) !important;
		box-shadow: var(--shadow) !important;
	}
	.submit:hover
	{
		background-color: var(--hover-background) !important;
		color: var(--main-color) !important;
	}

	/*Searches*/
	tr, .navbutton
	{
		color: var(--dimmer-text) !important;
	}
	.result-link
	{
		color: var(--main-text) !important;
	}
	.link-text, .navbutton:hover
	{
		color: var(--main-color) !important;
	}
}
